@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Kameron", serif;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.input {
  width: 100%;
  height: 40px;
  font-size: 26px;
  text-align: right;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 10px 0px;
}
.input-dark {
  background: transparent;
  color: white;
  border: 1px solid white;
}
.input::placeholder {
  text-align: right;
}
img {
  width: 30px;
  height: 30px;
}
.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.layout.dark {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.calculator {
  border: 2px solid rgb(163, 163, 163);
  border-radius: 10px;
  padding: 5px 15px;
  width: 240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 10px 0px;
}
.dashboard {
  padding: 20px 10px;
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dashboard .button {
  font-family: "Kameron", serif;
  color: #a3a3a3;
  font-size: 22px;
  padding: 12px 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 0.5px solid rgb(173, 173, 173);
  display: flex;
  align-items: center;
  justify-content: center;
}
.number {
  background-color: rgb(233, 233, 233) !important;
  border: none !important;
}
.number-dark {
  background: rgb(247, 247, 247) !important;
  background: linear-gradient(
    5deg,
    rgba(247, 247, 247, 0.5494572829131652) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}
.equals {
  width: 100%;
  grid-column-start: 4;
  grid-column-end: 5;
  color: white !important;
  background-color: rgb(252, 85, 85) !important;
}
.operator {
  color: rgb(250, 52, 52) !important;
  font-weight: 600;
}
.theme__toggler {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}
